.drp-Container .ant-select.ant-select-outlined {
    height: 40px;
}

.drp-Container .ant-select.ant-select-outlined .ant-select-selector {
    border: 1px solid #636B7C;
}

.drp-Container .ant-select-selection-placeholder {
    color: #636B7C;
    font-weight: 400;
}

.btn {
    color: #fff !important;
    background-color: #0093EF !important;
    padding: 5px 10px;
    border-radius: 5px;
}

.btn:hover {
    opacity: 0.8;
}


.backBtn {
    border: 1px solid #182132;
    color: #182132 !important;
    padding: 5px 10px;
    border-radius: 5px;
}

/* Folder Management */
.drpFolderManagement {
    width: 320px;
}


/* Uploadresume */

.uploadedDoc {
    width: 100%;
}

.uploadedDoc .ant-upload-list.ant-upload-list-text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    row-gap: 16px;
    -moz-column-gap: 10px;
    column-gap: 0px;
    margin-top: 10px;
}

.uploadedDoc .ant-upload-list.ant-upload-list-text .ant-upload-list-item-container {
    padding: 5px;
    border: 1px solid #D8DEEB;
    border-radius: 4px;
    width: 316px;
    margin-right: 5%;
}

.uploadedDoc .ant-upload-list.ant-upload-list-text .ant-upload-list-item-container .ant-upload-list-item {
    margin-top: 0px;
}

.uploadedDoc .ant-upload-list.ant-upload-list-text .ant-upload-list-item.ant-upload-list-item-error .ant-upload-icon {
    display: none;
}

.uploadedDoc .ant-upload-list.ant-upload-list-text .ant-upload-list-item-container .ant-upload-list-item-name {
    color: #1D2943;
}

.uploadResumeFileBtn {
    color: #0093EF;
    border-color: #0093EF;
    font-weight: 500;
    letter-spacing: 0.5px;
    font-size: 12px;
    text-transform: uppercase;
}

.uploadJobDescription {
    color: #1D2943;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 20px;
}

.uploadJobDescSubHeader {
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 20px;
    font-size: 14px;
}

.uploadJobDescContainer {
    width: 70%;
    border: 1px solid #C6DAED;
    border-radius: 9px;
    padding: 10px;
}

.uploadJobDescContainer label {
    font-weight: 600;
    color: #1D2943;
    letter-spacing: 0.5px;
    font-size: 16px;
}

.uploadJobDescContainer h4 {
    color: #1D2943;
    letter-spacing: 0.5px;
    font-weight: 400;
    line-height: 30px;
    font-size: 14px;
}

.JDUploadContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* comparison */
.comparisonResults {
    font-size: 18px;
    letter-spacing: 0.5px;
    font-weight: 700;
}

.topResultContainer {
    width: 25%;
}


/* Grid Header */

.MuiPaper-rootMuiPaper-elevation.MuiPaper-rounded {
    border-radius: 0px;
}

.muiDashboard .MuiTableCell-head.MuiTableCell-stickyHeader .Mui-TableHeadCell-Content {
    justify-content: center !important;
}

.muiDashboard .MuiTableCell-head.MuiTableCell-stickyHeader .Mui-TableHeadCell-Content .MuiBadge-root {
    display: none
}

.muiDashboard .MuiTableCell-head.MuiTableCell-stickyHeader .Mui-TableHeadCell-Content-Actions {
    display: none;
}

/* datePicker */
.datePickerContainer .ant-picker.ant-picker-outlined {
    width: 288px;
    height: 40px;
    border-color: #636B7C;
}

.ant-picker-ok button {
    background-color: #0093EF;
    color: #fff;
}

#nextBtn {
    background-color: #0093EF;
}

#createUserBtn button {
    height: 40px;
    font-size: 15px;
    font-weight: 400;
    border-color: #636B7C;
}

#createUserBtn button:hover {
    color: #636B7C;
    font-weight: 500;
}